* {
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
}

body {
  overflow-y: hidden;
  color: #e5e9ea;
  /* box-sizing: border-box; */
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(13, 14, 13);
  animation: bodychange 4s linear infinite;
}
.slogan {
  font-style: oblique;
  color: #94e2fa;
  margin: 0;
}
#heading {
  color: #94e2fa;
  margin: 0;
}
nav {
  font-family: 'Roboto Slab', serif;
  height: 15%;
}
nav ul {
  padding: 0.5rem;
  margin: 0;
  display: flex;
  align-items: center;
  list-style: none;
  height: 39px;
  background-color: rgb(32, 35, 35);
  color: white;
}
nav ul li {
  padding: 12px;
  margin: 0;
}
.brand img {
  width: 35px;
  padding: 0, 8px;
  margin: 0;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.4rem;
  padding-left: 8px;
}
.container {
  width: 90%;
  height: 85%;
  /* border: 1px solid rgb(46, 164, 194); */
  animation: borderchange 1.2s infinite linear;
  border-radius: 3rem;
  background-image: url(./ksr.png);
  /* background-position: 0% 100%; */
  background-position: center;
  /* background-position: left; */
  filter: drop-shadow(16px 16px 10px black);
  opacity: 0.8;
  display: flex;
  /* align-items: center; */
  /* height: ; */
  margin: 0 auto;
  /* margin-top: 3%; */
  flex-direction: column;
  justify-content: center;
}
.wraper {
  background-color: rgb(255, 255, 255, 1);
  background-image: linear-gradient(to left bottom, red, blue);
  /* height: 70%; */
  width: 40%;

  border-radius: 0;

  padding: 0;
  margin-left: 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
}
.details {
  display: flex;
  padding-top: 0.3rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.art {
  background-size: cover;
  background-position: center;
  height: 10rem;
  width: 10rem;
  border: 2px transparent rgb(46, 164, 194);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px;
}
.curr-playing {
  color: #94e2fa;
  padding-bottom: 2rem;
  font-size: 2rem;
  animation: ww 1.2s infinite linear;
}

.song-name {
  padding-top: 0.4rem;
  color: #94e2fa;
  font-weight: bold;
  font-size: 1.5rem;
}
.artist {
  padding-top: 1rem;
  color: #94e2fa;
  margin: 0;
  font-size: 0.8rem;
}
.btn {
  background-color: rgb(32, 35, 35);
  display: flex;
  flex-direction: row;
  border-radius: 0;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.repeat-track,
.playPause-track,
.prev-track,
.next-track {
  color: rgb(117, 227, 168);
  padding: 1rem;
  opacity: 1;
  transition: opacity 0.3s;
}
.repeat-track:hover,
.ren-track:hover,
.playPause-track:hover,
.prev-track:hover,
.next-track:hover {
  opacity: 0.5;
}
.slider {
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.seek-slider,
.vol-slider {
  color: rgb(85, 195, 232);
  /* border: 1px solid rgb(58, 139, 201); */
  /* border-radius: 3px; */
  /* -webkit-appearance: none;
    -moz-appearance: none; */
  /* appearance: none; */
  /* background: rgb(60, 161, 188); */
  /*height: 4px;
    transition: opacity .2s;
    -webkit-transition: .2s; 
    transition: opacity .2s; */
}

.seek-slider {
  height: 5px;
  width: 100%;
}
.vol-slider {
  height: 8px;
  width: 30%;
  padding-bottom: 2rem;
  margin-left: 1rem;
}
.seek-slider:hover,
.vol-slider:hover {
  opacity: 1;
}
.current-time,
.total-time {
  padding: 1rem;
}
i,
i.fa-play-circle,
i.fa-pause-circle,
i.fa-step-forward,
i.fa-step-backward {
  cursor: pointer;
}
.randomActive {
  color: black;
}
.rotate {
  border-radius: 1px dashed green;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 20px 40px;
  animation: rotation 8s infinite linear;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
@keyframes ww {
  0% {
    color: #69b7eb;
  }
  50% {
    color: #2300c1;
  }
  100% {
    color: #f6042c;
  }
}

@keyframes borderchange {
  0% {
    border-left: 60px solid#fa0000;
    border-right: 60px solid#fa0000;
  }
  20% {
    border-left: 60px solid #e300f7;
    border-right: 60px solid #e300f7;
  }
  40% {
    border-left: 60px solid #0c04f6;
    border-right: 60px solid #0c04f6;
  }
  60% {
    border-left: 60px solid #04f659;
    border-right: 60px solid #04f659;
  }
  80% {
    border-left: 60px solid #f6ee04;
    border-right: 60px solid #f6ee04;
  }
  100% {
    border-left: 60px solid #f66d04;
    border-right: 60px solid #f66d04;
  }
}

@keyframes bodychange {
  0% {
    background-color: #fa0000;
    background-color: #fa0000;
  }
  20% {
    background-color: #e300f7;
    background-color: #e300f7;
  }
  40% {
    background-color: #0c04f6;
    background-color: #0c04f6;
  }
  60% {
    background-color: #04f659;
    background-color: #04f659;
  }
  80% {
    background-color: #f6ee04;
    background-color: #f6ee04;
  }
  100% {
    background-color: #f66d04;
    background-color: #f66d04;
  }
}
